#loginForm{
	text-a
	color:green;

}
.loginBody{
     background-color:floralwhite ;
}
.login{
	
	margin-left:auto;
	margin-right:auto;
	width:30%;
	padding:12px 120px;
	text-align:center;
}
